<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- CSS -->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="body">
    <header class="header">
        <div class="container">
            <div class="header__top">
                <div class="header__logo">
                    <img class="header__logo-img" src="/images/logo-mercado-liebre.svg" alt="">
                </div>
                <div class="header__search">
                    <input class="header__input" type="search" placeholder="Buscar productos, marcas">
                    <div class="header__button-search">
                        <i class="header__i header__i--search fa-solid fa-magnifying-glass"></i>
                    </div>
                </div>
                <div class="header__sign">
                    <i class="header__i fa-solid fa-hand-holding-heart"></i>
                    <span class="header__text">Comprá en cuotas y sin tarjeta de crédito</span>
                </div>
            </div>
            <div class="header__bottom">
                <ul class="header__ul header__ul--left">
                    <li class="header__li"><a class="header__a" href="#">Ofertas</a></li>
                    <li class="header__li"><a class="header__a" href="#">Tiendas oficiales</a></li>
                    <li class="header__li"><a class="header__a" href="#">Vender</a></li>
                    <li class="header__li"><a class="header__a" href="#">Ayuda</a></li>
                </ul>
                <ul class="header__ul header__ul--right">
                    <li class="header__li"><a class="header__a" href="/user/register">Creá tu cuenta</a><i class="header__i fa-regular fa-id-card"></i></li>
                    <li class="header__li"><a class="header__a" href="/user/login">Ingresá</a><i class="header__i fa-solid fa-right-to-bracket"></i></li>
                    <li class="header__li"><a class="header__a" href="#">Mis compras</a><i class="header__i fa-solid fa-basket-shopping"></i></li>
                </ul>
            </div>
            <div class="header__button">
                <i class="header__i-menu fa-solid fa-bars"></i>
            </div>
        </div>
    </header>
    <section class="container container-banner">
        <div class="banner">
            <img class="banner__img" src="/images/img-home-banner.jpg" alt="">
        </div>
    </section>
    <main class="main">
        <div>
            <section class="container container-product">
                <h2 class="section-tittle">Basado en tu última visita</h2>
                <div class="product__box-concat">
                    <div class="product__card">
                        <div class="card__container-img">
                            <img class="card__img" src="/images/img-cafetera-moulinex.jpg" alt="">
                        </div>
                        <div class="card__information">
                            <div class="card__information-send">
                                <i class="card__i-information fa-solid fa-truck"></i>
                            </div>
                            <span class="card__information-price">$6.770</span>
                            <span class="card__information-discount">40% OFF</span>
                            <span class="card__information-description">Cafetera moulinex</span>
                        </div>
                    </div>
                </div>
                <div class="product__box-concat">
                    <div class="product__card">
                        <div class="card__container-img">
                            <img class="card__img" src="/images/img-macbook-pro-2019.jpg" alt="">
                        </div>
                        <div class="card__information">
                            <div class="card__information-send">
                                <i class="card__i-information fa-solid fa-truck"></i>
                            </div>
                            <span class="card__information-price">$230.000</span>
                            <span class="card__information-discount">20% OFF</span>
                            <span class="card__information-description">MacBook Pro 2019</span>
                        </div>
                    </div>
                </div>
                <div class="product__box-concat">
                    <div class="product__card">
                        <div class="card__container-img">
                            <img class="card__img" src="/images/img-samsung-galaxy-s10.jpg" alt="">
                        </div>
                        <div class="card__information">
                            <div class="card__information-send">
                                <i class="card__i-information fa-solid fa-truck"></i>
                            </div>
                            <span class="card__information-price">$70.500</span>
                            <span class="card__information-discount">10% OFF</span>
                            <span class="card__information-description">Samsung Galaxy S10</span>
                        </div>
                    </div>
                </div>
                <div class="product__box-concat">
                    <div class="product__card">
                        <div class="card__container-img">
                            <img class="card__img" src="/images/img-tv-samsung-smart.jpg" alt="">
                        </div>
                        <div class="card__information">
                            <div class="card__information-send">
                                <i class="card__i-information fa-solid fa-truck"></i>
                            </div>
                            <span class="card__information-price">$23.200</span>
                            <span class="card__information-discount">5% OFF</span>
                            <span class="card__information-description">SmartTv Samsung 43''</span>
                        </div>
                    </div>
                </div>
            </section>
            <section class="container container-product">
                <h2 class="section-tittle">Ofertas</h2>
                <div class="product__box-concat">
                    <div class="product__card">
                        <div class="card__container-img">
                            <img class="card__img" src="/images/img-cafetera-moulinex.jpg" alt="">
                        </div>
                        <div class="card__information">
                            <div class="card__information-send">
                                <i class="card__i-information fa-solid fa-truck"></i>
                            </div>
                            <span class="card__information-price">$6.770</span>
                            <span class="card__information-discount">40% OFF</span>
                            <span class="card__information-description">Cafetera moulinex</span>
                        </div>
                    </div>
                </div>
                <div class="product__box-concat">
                    <div class="product__card">
                        <div class="card__container-img">
                            <img class="card__img" src="/images/img-macbook-pro-2019.jpg" alt="">
                        </div>
                        <div class="card__information">
                            <div class="card__information-send">
                                <i class="card__i-information fa-solid fa-truck"></i>
                            </div>
                            <span class="card__information-price">$230.000</span>
                            <span class="card__information-discount">20% OFF</span>
                            <span class="card__information-description">MacBook Pro 2019</span>
                        </div>
                    </div>
                </div>
                <div class="product__box-concat">
                    <div class="product__card">
                        <div class="card__container-img">
                            <img class="card__img" src="/images/img-samsung-galaxy-s10.jpg" alt="">
                        </div>
                        <div class="card__information">
                            <div class="card__information-send">
                                <i class="card__i-information fa-solid fa-truck"></i>
                            </div>
                            <span class="card__information-price">$70.500</span>
                            <span class="card__information-discount">10% OFF</span>
                            <span class="card__information-description">Samsung Galaxy S10</span>
                        </div>
                    </div>
                </div>
                <div class="product__box-concat">
                    <div class="product__card">
                        <div class="card__container-img">
                            <img class="card__img" src="/images/img-tv-samsung-smart.jpg" alt="">
                        </div>
                        <div class="card__information">
                            <div class="card__information-send">
                                <i class="card__i-information fa-solid fa-truck"></i>
                            </div>
                            <span class="card__information-price">$23.200</span>
                            <span class="card__information-discount">5% OFF</span>
                            <span class="card__information-description">SmartTv Samsung 43''</span>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer class="footer">
        <div class="container container-footer">
            <div class="footer__item">
                <i class="footer__i fa-solid fa-credit-card"></i>
                <h3 class="footer__h3">Pagá con tarjeta o en efectivo</h3>
                <span class="footer__text">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</span>
            </div>
            <div class="footer__item">
                <i class="footer__i fa-solid fa-gift"></i>
                <h3 class="footer__h3">Envío gratis desde los $2.500</h3>
                <span class="footer__text">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</span>
            </div>
            <div class="footer__item">
                <i class="footer__i fa-solid fa-user-shield"></i>
                <h3 class="footer__h3">Seguridad de principio a fin</h3>
                <span class="footer__text">¿No te gusta? ¡Devolvelo! en MercadoLiebre, no hay nada que no puedas hacer, porque estás simpre protegid@.</span>
            </div>
        </div>
        <span class="footer__copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</span>
    </footer>
</body>
</html>